<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <Nav msg="Vue Todo App"/>
    <TodoApp></TodoApp>
  </div>
</template>

<script>
// @ is an alias to /src
//import Nav from '@/components/Nav.vue'
import TodoApp from '@/components/TodoApp.vue'

export default {
  name: 'home',
  components: {
  ////  Nav,
    TodoApp
  }
}
</script>
