<template>
  <div>
    <!-- <ul>
        <li> Todo A </li> 
        <li> Todo B </li> 
        <li> Todo C </li> 
    </ul> -->
    <div id="data">
    <div @click=test()>click</div>
      <ul>
        <li v-for="task in tasks ">{{ task.title}}</li>
      </ul>
    </div>
  </div>
</template>

<script type = "text/javascript" >
import Vue from 'vue';

new Vue({
  el: '#data',
  data: {
    tasks: [
      { id: 1, title: 'My journey with Vue' },
      { id: 2, title: 'Blogging with Vue' },
      { id: 3, title: 'Why Vue is so fun' }
    ]
  }
  computed:{
      console.log('computed log')
  }
  methods:{
    test:function(){
      alert('sss')
    }
  }
})

</script>
<style>
</style>