<template>
  <div id="todoexample">
    
    
   <div class="col-md-6 col-md-offset-3">
    <!-- <inputTodo></inputTodo> -->
    {{taskinput}}  
    <input type="text" v-model="taskinput" class="form-control">
    <button type="button" class="btn btn-success" @click="addtask()">Add Task</button>
    
    <ul class="list-group">
        <li class="list-group-item" v-for="task in data.tasks" @click="deletes(task)"> 
          {{task.title}} 
          <span @click="deletes()" class="btn btn-danger">  x  </span> 
        </li> 
    </ul>
    </div>
  </div>
</template>

<script type = "text/javascript" >
import Vue from 'vue';
import inputTodo from '@/components/inputTodo.vue'
import inputbutton from '@/components/button.vue'

export default {
  name: 'home',
  components: {
    inputTodo,
    inputbutton
  },
  
  data() {
    return {
      data:{
        tasks: [
        { title: 'My journey with Vue'},
        { title: 'Blogging with Vue' },
        { title: 'Why Vue is sof fun' },
        { title: 'Why Vue is sosss fun' },
        { title: 'Why Vue is so3s fun' }
      ]},
      taskinput:'',
    }
  },


  methods: {
    deletes(task){
      var index=this.data.tasks.indexOf(task.title);
      //alert(index)
      this.data.tasks.splice(index,1)
    },
    addtask(){
      var task = this.taskinput.trim();
      if(task){
        this.data.tasks.unshift({title:task})
        this.taskinput="";
      }
      
    }
  },
}


</script>
